body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* Board */
.board-options, .connect-container, .player-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.options button {
    margin: 1%;
    min-width: fit-content;
}

#board-container {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
}

.row {
    display: flex;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 5px;
    background-color: #ffffff;
}

/* Token */
.token {
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

#player1-tokens, #player2-tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}