/* Estilos generales para todas las pantallas */
body {
    background-color: #16181d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;  /* Tamaño de fuente relativo al ancho de la pantalla */
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex; /* Agregar esto para usar flexbox */
}

.body-container {
    width: 100%;
    margin: 0 auto;
}

/* Inicio Loading */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16181d; /* Fondo negro */
    z-index: 1000; /* Asegúrate de que esté encima de todo */
    font-size: 2vw; /* Tamaño de fuente responsivo */
    color: #ff0055; /* Color del texto */
    font-family: "Audiowide", sans-serif; /* Fuente estilo arcade */
}

.spinner {
    border: 8px solid rgba(255, 0, 85, 0.5); /* Fondo del spinner con opacidad */
    border-left-color: #33d6ff; /* Color brillante del spinner */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Tamaño del spinner */
    height: 60px; /* Tamaño del spinner */
    animation: spin 1s linear infinite;
    margin-bottom: 20px; /* Espaciado debajo del spinner */
    box-shadow: 0 0 15px #ff4081; /* Resplandor */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 1.5rem; 
    color: #ff0055; 
    animation: blink 1s infinite; /* Animación de parpadeo */
}

/* Animación de parpadeo para el texto */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* Fin Loading */

/* Page Content */
.page-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.header, .main, .footer {
    width: 100%;
}

/* Contenedores */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 2vw;
    overflow: hidden;
    max-height: 7vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #282c34;
    text-align: center;
    overflow-x: hidden;
    padding: 2%;
    height: fit-content;
    font-size: 3vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.footer-column {
    width: 100%;
    margin: 1% 0;
    text-align: left;
}

.footer-column h3 {
    position: relative;
    margin-bottom: 1%;
}

.footer-column h3.active + ul {
    display: block;
}

.footer-column h3::after {
    content: ' +';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-column h3.active::after {
    content: ' -';
}

.footer-column ul {
    display: none;
    list-style: none;
    padding: 0;
    border-bottom: 0.1vw solid #575757;
}

.footer-column ul li {
    margin-bottom: 2%;
}

.footer-column ul li a {
    color: #b0b3b8;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.copyright{
    text-align: center;
    font-size: 3.3vw;
}

/* Inicio estilos de la barra general */
.main-nav {
    background-color: #282c34;
    width: 100%;
    height: 6.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}

.logo {
    width: 30vw;
    object-fit: contain;
}

.user-photo {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    overflow: hidden;
    border: 0.15vw solid #00b8e6;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fas {
    font-size: 4vw;
    cursor: pointer;
}


.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.nav-center {
    justify-content: center;
}

.nav-right {
    gap: 2.5vw; /* Espacio entre el carrito y la foto del usuario */
}

/* Estilos para la barra lateral (sidebar) */
.sidebar {
    height: 100%;
    width: 35vw;
    position: fixed;
    top: 0;
    left: -35vw; /* Escondido por defecto */
    background-color: #21252b;
    color: white;
    transition: 0.3s;
    padding-top: 0;
    z-index: 1000;
}

/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto por defecto */
    z-index: 999; /* Debajo de la barra lateral pero encima de otros elementos */
}

/* Mostrar la barra lateral cuando está activa */
.sidebar.active {
    left: 0; /* Muestra la barra lateral */
}

.overlay.active {
    display: block; /* Muestra el overlay cuando la barra está abierta */
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 2vw;
    text-align: start;
    font-size: 4vw;
    border-bottom: 0.1vw solid #575757; /* Separadores entre opciones */
}

.sidebar ul li:last-child {
    border-bottom: none; /* El último elemento no tiene separador */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar ul li:hover {
    background-color: #575757;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
    transition: 0.3s;
}
/* Fin estilos de la barra general */

/* Secciones */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}

.section-title {
    font-family: 'Audiowide', sans-serif;
    font-weight: normal;
    font-size: 4.1vw;
    margin-top: 5%;
    margin-bottom: 2.75%;
    max-width: 90vw;
    width: 100%;
}

/* Asegurarse de que padding y border se incluyan en el tamaño total */
* {
    box-sizing: border-box;
}

/* Featured Games */
@media only screen and (max-width: 767px) {
    .featured-carousel-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10%;
        max-width: 90vw;
        width: 100%;
        overflow: hidden;
    }

    .featured-carousel-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .featured-games {
        display: flex;
        flex-wrap: nowrap;
        gap: 2vw;
    }
}

/* Featured Game Card */
.featured-card {
    background-color: #434956;
    width: 80vw;
    height: 56.3vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ocultar cualquier contenido que se salga de la tarjeta */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

@keyframes animacion-escala-derecha {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animacion-escala-izquierda {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale-right {
    animation: animacion-escala-derecha 1s;
}

.animate-scale-left {
    animation: animacion-escala-izquierda 1s;
    animation-direction: reverse;
}

.featured-game-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.featured-game-info {
    background-color: #282C34;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    height: 30%;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.featured-game-title {
    margin: 0; /* Elimina margen */
    width: 100%;
    white-space: nowrap; /* No permitir saltos de línea */
    overflow: hidden; /* Ocultar cualquier texto que desborde el contenedor */
    text-overflow: ellipsis; /* Mostrar '...' al final si hay desbordamiento */
    font-weight: 600; /* Semibold */
    font-size: 4vw;
}


.game-price {
    margin: 0 0 0 0;
    font-weight: 300; /* Light */
    font-size: 4.1vw;
}

.in-cart-game-price {
    margin: 0 0 0 0;
    font-weight: 300; /* Light */
    font-size: 4.1vw;
    visibility: hidden;
}

.featured-buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 3vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 6.5vw;
    width: 15.25vw;
    font-size: 2.8vw;
}

.featured-buy-button i {
    font-size: 2.8vw;
}

a {
    text-decoration: none;
}

/* Carousel */
.carousel-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5%;
    max-width: 90vw;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}

.carousel-container::-webkit-scrollbar, .featured-carousel-container::-webkit-scrollbar {
    display: none;
}

.prev-button, .next-button {
    display: none;
}

/* Game Card */
.card {
    background-color: #434956;
    width: 46vw;
    height: 42.5vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

@keyframes animacion-escala-derecha {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animacion-escala-izquierda {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale-right {
    animation: animacion-escala-derecha 1s;
}

.animate-scale-left {
    animation: animacion-escala-izquierda 1s;
    animation-direction: reverse;
}

.game-image {
    width: 100%;
    height: 68%;
    object-fit: cover;
}

.game-info {
    background-color: #282C34;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    height: 32%;
}

.game-title {
    margin: 0; /* Elimina margen */
    width: 100%;
    white-space: nowrap; /* No permitir saltos de línea */
    overflow: hidden; /* Ocultar cualquier texto que desborde el contenedor */
    text-overflow: ellipsis; /* Mostrar '...' al final si hay desbordamiento */
    font-weight: 600; /* Semibold */
    font-size: 4vw;
}

.buy-button, .in-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 3vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 6.5vw;
    width: 20.25vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 2.8vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buy-button i {
    font-size: 2.8vw;
}

.in-cart-button {
    position: relative; /* Necesario para posicionar el icono */
}

.in-cart-button span {
    transition: opacity 0.3s ease; /* Transición suave para ocultar el texto */
}

.in-cart-button i {
    font-size: 2.8vw; /* Tamaño del icono */
    display: none; /* El ícono empieza oculto */
    position: absolute; /* Para que esté centrado como el texto */
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 0.3s ease; /* Transición suave para mostrar el ícono */
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007997;
    border: none; /* Sin borde */
    border-radius: 3vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 6.5vw;
    width: 20.25vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 2.8vw;
}

@media only screen and (min-width: 768px) {
    /* Header */
    .header {
        max-height: 3vh;
    }

    /* Inicio estilos de la barra general */
    .logo {
        width: 12.5vw;
    }

    .user-photo {
        width: 2.5vw;
        height: 2.5vw;
    }

    .fas {
        font-size: 1.25vw;
        cursor: pointer;
    }

    /* Estilos para la barra lateral (sidebar) */
    .sidebar {
        width: 16.25vw;
        left: -16.25vw; /* Escondido por defecto */
    }

    .sidebar ul li {
        padding: 1.25vw;
        font-size: 1vw;
    }
    /* Fin estilos de la barra general */

    /* Footer */
    .footer {
        padding-left: 8%;
        padding-right: 8%;
        font-size: 1vw;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }

    .footer-column {
        width: fit-content;
        margin: 1%;
    }

    .footer-column h3::after {
        content: '';
        right: initial;
        top: initial;
        transform: initial;
    }

    .footer-column h3.active::after {
        content: '';
    }

    .footer-column ul {
        display: block;
        border-bottom: none;
    }

    .footer-column ul li {
        margin-bottom: 5%;
    }

    .copyright{
        font-size: 1.3vw;
    }

    /* Section */
    .section-title {
        font-size: 1.25vw;
        margin-top: 2%;
        margin-bottom: 0.75%;
        width: 80%;
    }

    /* Featured Games */
    .featured-carousel-wrap {
        overflow: visible;
        max-width: 80vw;
        width: 80%;
        margin-bottom: 2%;
    }

    .featured-carousel-container {
        overflow-x: visible;
        scroll-snap-type: none;
    }

    .featured-games {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-bottom: 2%;
    }

    /* Featured Game Card */
    .featured-card {
        width: 15.3vw;
        height: 21vw;
        border-radius: 1vw;
        transition: transform 0.3s ease;
    }

    .featured-card:hover {
        transform: scale(1.02);
        z-index: 1;
    }

    .featured-game-image {
        height: 80%;
    }

    .featured-game-info {
        padding: 1vw;
        height: 20%;
    }

    .info {
        width: 50%;
    }

    .featured-game-title {
        font-size: 1vw;
    }

    .game-price {
        margin: 0 0 0 0;
        font-weight: 300; /* Light */
        font-size: 0.9vw;
    }

    .in-cart-game-price {
        margin: 0 0 0 0;
        font-weight: 300; /* Light */
        font-size: 0.9vw;
        visibility: hidden;
    }

    .featured-buy-button {
        background-color: #ff4081;
        border-radius: 1vw;
        height: 2vw;
        width: 4.25vw;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .featured-buy-button i {
        font-size: 1.125vw;
    }

    .featured-buy-button:hover {
        transform: scale(1.1); /* Aumenta el tamaño del botón */
        background-color: #b3003b; /* Cambia el color en hover */
    }

    /* Carousel */
    .carousel-wrap {
        margin: 0 auto 2%;
        max-width: 100vw;
        width: 80%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .carousel-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .carousel {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.3vw;
    }

    .prev-button, .next-button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-width: 3vw;
        height: 9.5vw;
        border: none;
        border-radius: 1vw;
    }

    .prev-button:hover, .next-button:hover {
        background-color: #282C34;
    }

    .prev-button {
        margin-right: 0.3vw;
    }

    .next-button {
        margin-left: 0.3vw;
    }

    .prev-button i, .next-button i {
        color: #ffffff;
        font-size: 2vw;
    }

    /* Game Card */
    .card {
        width: 13vw;
        height: 9.5vw;
        border-radius: 1vw;
    }

    .game-info {
        padding: 0.75vw;
        height: 32%;
    }

    .game-title {
        margin: 0; /* Elimina margen */
        width: 100%;
        font-weight: 600; /* Semibold */
        font-size: 0.8vw;
    }

    .game-price {
        font-size: 1vw;
    }

    .buy-button {
        border-radius: 1vw;
        height: 1.5vw;
        width: 4.25vw;
        letter-spacing: 0.2em;
        font-size: 0.6vw;
    }

    .buy-button i {
        font-size: 0.8vw;
    }

    .in-cart-button {
        border-radius: 1vw;
        height: 1.5vw;
        width: 4.25vw;
        letter-spacing: 0.2em;
        font-size: 0.6vw;
    }

    .in-cart-button i {
        font-size: 0.8vw; /* Tamaño del icono */
    }

    .play-button {
        border-radius: 1vw;
        height: 1.5vw;
        width: 4.25vw;
        letter-spacing: 0.2em;
        font-size: 0.6vw;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .buy-button:hover {
        transform: scale(1.1);
        background-color: #e6005c;
        box-shadow: 0 0 10px #ff6699;
    }

    .play-button:hover {
        transform: scale(1.1);
        background-color: #003d4d; /* Color azul más oscuro en hover */
        box-shadow: 0 0 10px #00b8e6;
    }

    .in-cart-button:hover {
        transform: scale(1.1); /* Aumenta el tamaño del botón en hover */
        background-color: #e6005c; /* Color más oscuro en hover */
        box-shadow: 0 0 10px #ff6699;
    }

    .in-cart-button:hover span {
        opacity: 0; /* Oculta el texto en hover */
    }

    .in-cart-button:hover i {
        display: block; /* Muestra el ícono en hover */
        opacity: 1; /* El ícono aparece suavemente */
    }
}
