* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

/*ESTILOS DEL LOADER..............................*/
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Contenedor de números */
.number-loader {
  display: flex;
  gap: 20px; /* Espacio entre círculos */
  animation: bounce 2s infinite; /* Animación de rebote del conjunto */
}

/* Círculos con números */
.circle {
  width: 80px;
  height: 80px;
  background-color: #FFD700; /* Amarillo brillante */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  animation: colorChange 2s infinite; 
}

@keyframes colorChange {
  0% {
    background-color: #FFD700;
  }
  25% {
    background-color: #e05d29;
  }
  50% {
    background-color: #51db51;
  }
  75% {
    background-color: #3aa3e4; 
  }
  100% {
    background-color: #FFD700; 
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.number {
  animation: spinAndAppear 1.5s infinite ease-in-out;
}

@keyframes spinAndAppear {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: rotate(360deg) scale(1.2); 
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 0.5;
  }
}
/* FIN DE ESTILOS DEL LOADER..............................*/

/* ESTILOS NAVEGADOR, MENU, ETC............*/
header {
  width: 1280px;
  height: 80px;
  position: fixed;
  z-index: 99999;
}

header svg {
  transform: scale(1.2);
  position: absolute;
  left: 100px;
  margin-top: 20px;
}

header.abajo {
  width: 1280px;
  height: 80px;
  background-color: rgb(37, 167, 218);  
  padding-bottom: 20px;
}

.btnComprar {
  margin-top: 0.5%;
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  width: 114px;
  height: 19px;
  color: white;
  display: inline-block;  left: 1000px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  border-radius:  111px;;
  border: 8px solid #FFFFFF;
  background: #77c43c;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px #02187E;
  -webkit-text-stroke: 2px;
  color: #ffffff;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 0.1em;
  padding: 30px;
  padding-top: 14px;
  width: 230px;
  height: 60px;
}

/* Efecto hover con keyframes */
.btnComprar:hover {
  animation: hoverPulse 0.6s ease-in-out forwards; /* Activa la animación */
  box-shadow: 0px 0px 15px 10px white;
}

/* Animación con keyframes */
@keyframes hoverPulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.05); /* Aumenta ligeramente de tamaño */
  }
  100% {
    transform: scale(1); /* Vuelve a su tamaño original */
  }
}

@keyframes fadeIn {
  0% {
      opacity:0;
      translate:0 -10vh;
  }
  25% {
      opacity: 0.45;
  }
  50%{ 
      opacity: 0.75;
  }
  75% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
      translate:0 0vh;
  }
}

@keyframes fadeInDos {
  0% {
      opacity:0;
      translate:0 70vh;
  }
  25% {
      opacity: 0.45;
  }
  50%{ 
      opacity: 0.75;
  }
  75% {
      opacity: 0.9;
  }
  100% {
      opacity: 1;
      translate:0 0vh;
  }
}

.drop-menu {
  display: none;
  width: 250px;
  height: 600px;
  border-radius: 0px 0px 40px 40px;
  transition: opacity 0.5s ease-in-out; 
  opacity: 0;
  position: absolute;
  z-index: 999; /* menú por encima del contenido */
  position: fixed;
  background-color: rgba(7, 207, 77, 0.562);
}
  
.drop-menu.abajo2 {
  margin-top: 20px;
}

.visible {
  display: block;
  opacity: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 20px;
  font-size: 1.5rem;
}

/* Retraso gradual a cada elemento li */
.nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 180px;

  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
  list-style: none; /*para que no esten los puntos*/
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 0.7s forwards;
  text-align: center;

  border-radius: 0px 50px 50px 0px;
  border: 7px solid #04772a;
  background: #FFE901;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #024318;
  color: #024318;
  letter-spacing: 2.2px;
  -webkit-text-stroke: 2px;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.nav-list li:hover{
  box-shadow: 0px 0px 15px 10px white;
}

.menu .rect1,
.menu .rect2,
.menu .rect3 {
  transition: opacity 0.4s ease, transform 0.5s ease; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

/* Animación */
.menu.active .rect1{
  opacity: 0;
}

.menu.active .rect2 {
  transform: translate(20px, -7px) rotate(45deg);
}

.menu.active .rect3 {
  transform: translate(-10px, 15px) rotate(-45deg);
}

.layer-3 {
  position: absolute;
  background-image: url("../images/LOGO.png");
  width: 590px;
  height: 301px;
  margin-left: 345px;
  margin-top: 100px;
  transition: width 0.4s;
  z-index: 9990;
}

.layer-3.small {
  position: absolute;
  left: 200px;
  top: -90px;
  padding-top: 10px;
  width: 133px;
  height: 68px;
  z-index: 9999;
}

nav {
  position: absolute;
  width: 1280px;
  height: 1100px;  
  overflow: hidden;

}

/*  TDDOS LOS LAYER DEBEN TENRE UNA PROPIEDAD EN COMUN  */
.layer{
  position: absolute;
  background-size: cover;
  background-repeat: repeat-x;
}

/*  En cada layer cambiamos la velocidad de la animacion    */
.layer-16 {
  position: absolute;
  background-image: url("images/paisaje.svg");
  animation: scroll 10s infinite linear ;
  width: 1280px;
  height: 1010px;
  background-repeat: repeat-x; /* Hace que la imagen cuando se
                          termina en x se pone devuelta la imagen la pone el browser automaticamente */
}

.layer-15 {
  background-image: url("images/arbusto4.svg");
  background-size: contain;
  width: 191.19px;
  height: 63.28px;
  margin-top: 620px;
  margin-left: 1029px;
  z-index: 1;
}

.layer-14 {
  background-image: url("images/arbusto3.svg");
  background-size: contain;
  width: 244.37px;
  height: 108px;
  margin-top: 655px;
  margin-left: 1075px;
  z-index: 3;
}

.layer-13 {
  background-image: url("images/arbusto2.svg");
  background-size: contain;
  width: 249.76px;
  height: 114.44px;
  margin-top: 720px;
  margin-left: 165px;
  z-index: 1;
}

.layer-12 {
  background-image: url("images/rock4.svg");
  background-size: contain;
  width: 59.24px;
  height: 35.01px;
  margin-top: 770px;
  margin-left: 1040px;
  z-index: 6;
}

.layer-11 {
  background-image: url("images/rock3.svg");
  background-size: contain;
  width: 66.65px;
  height: 56.55px;
  margin-top: 720px;
  margin-left: 1031px;
  z-index: 4;
}

.layer-10 {
  background-image: url("images/rock.svg");
  background-size: contain;
  width: 113.77px;
  height: 74.05px;
  margin-top: 720px;
  margin-left: 1070px;
  z-index: 5;
}

.layer-9 {
  background-image: url("images/arbol3.svg");
  width: 278.03px;
  height: 430.85px;
  margin-top: 280px;
  margin-left: 1080px;
  z-index: 2;
}

.layer-8 {
  background-image: url("images/arbol2.svg");
  width: 434.21px;
  height: 672.52px;
  margin-top: 98px;
  margin-left: 878px;
  z-index: 3;
}

.layer-7 {
  background-image: url("images/arbol1.svg");
  margin-top: 1px;
  width: 560.1px;
  height: 867.75px;
  margin-left: -145px;
  z-index: 2;
}

.layer-6 {
  background-image: url("images/RedOne.svg");
  width: 240.4px;
  height: 314.48px;
  margin-left: 425px;
  margin-top: 485px;
  animation: fadeIn ease .8s forwards;
  z-index: 3;
}

.layer-5 {
  background-image: url("images/OrangeTwo.svg");
  animation-name: scale;
  width: 197px;
  height: 270px;
  margin-left: 540px;
  margin-top: 390px;
  animation: fadeIn 1s forwards;
  transition: transform 0.2s ease-out; /* Agregar transición para suavizar el efecto */
  z-index: 2;

}

.layer-4 {
  background-image: url("images/yellowThree.svg");
  width: 190px;
  height: 384px;
  margin-left: 690px;
  margin-top: 345px;
  animation: fadeIn 1s forwards;
  z-index: 1;

}

.layer-3 {
  position: absolute;
  background-image: url("images/logo.svg");
  width: 590px;
  height: 301px;
  margin-left: 345px;
  margin-top: 100px;
  transition: width 0.4s;
  z-index: 9990;
}

.layer-3.small {
  position: absolute;
  left: 200px;
  top: -90px;
  padding-top: 10px;
  width: 133px;
  height: 68px;
  z-index: 9999;

}

.layer-1{
  background-image: url("images/rock2.svg");
  width: 145.41px;
  height: 78.09px;
  margin-left: 140px;
  margin-top: 795px;
  animation: fadeIn 2s forwards;
  z-index: 3;

}

.layer-2{
  background-image: url("images/arbusto.svg");
  width: 158.41px;
  height: 105.44px;
  margin-left: 200px;
  margin-top: 825px;
  z-index: 72;
}

/*SECCION DOS*/
.curved-section {
  overflow: hidden;
  width: 1279px; 
  min-height: 894px;
  margin-top: 900px;
}

.content-container {
  background-image: url("images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover; 
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  position: relative;
  width: 100%;  
  height: auto; 
  min-height: 894px;
}

.content-container h1 {
  margin-top: 95px;
  padding-left: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 47px;
  color: #1B428F;
}

.content-container p {
  padding-top: 22px;
  padding-left: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #1B428F;
}

.carrusel-conteiner{
  margin-top: 26px;
  margin-left: 236px;
}

/* El marco azul */
.image-frame {
  width: 576px;  /* Ancho del marco */
  height: 324px; /* Altura del marco */
  border: 27px solid #1a5e99; /* Ancho del borde y color azul */
  border-radius: 75px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Incluye el borde en las dimensiones */
  overflow: hidden;
  position: relative;
}

/* Estilo para la imagen que estará dentro del marco */
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px; /* Opcional: bordes internos redondeados */
  position: absolute; /* Para permitir la animación de deslizamiento */
  transition: transform 0.6s ease; /* Transición suave */
}

/* Estado para mover la imagen hacia la izquierda */
.gallery-image.slide-out-left {
  transform: translateX(-100%);
  z-index: 2;
}

.numero-cuatro{
  padding-left: 48px;
  position: absolute;
  z-index: 6;
  top: 550px;
}

.numero-cinco{
  padding-left: 48px;
  position: absolute;
  z-index: 10;
  right: -77px;
  top: -20px;
}

.aside-content {
  width: 300px;
}

.white-background{
height: 600px;
}

.card-container{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 23px;
}

.card {
  width: 333px;
  height: 519px;
  opacity: 0;  /* Las tarjetas están ocultas inicialmente */
  transform: translateY(50px); /* Las tarjetas están desplazadas hacia abajo */
  transition: opacity 0.3s ease, transform 0.5s ease; /* La transición será suave */
  will-change: opacity, transform; /* Mejora la performance para las animaciones */
}

/* Animación que las hace aparecer desde abajo */
@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(50px);  /* Empieza desde abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0);  /* Llega a su posición original */
  }
}

/* Activamos la animación cuando se hace scroll */
.card.visible {
  animation: floatUp 0.5s ease-out forwards; /* Activamos la animación */
}

/* Retraso en la animación para cada tarjeta */
.card:nth-child(1).visible {
  animation-delay: 0s; /* Primer tarjeta, sin retraso */
}

.card:nth-child(2).visible {
  animation-delay: 0.3s; /* Segunda tarjeta, con 0.3s de retraso */
}

.card:nth-child(3).visible {
  animation-delay: 0.6s; /* Tercera tarjeta, con 0.6s de retraso */
}

.card img{
  width: 332.96px;
  height: 302.69px;
}

.card p{
  margin-top: 23px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000000;
}


/* TERCERA SECCION*/
.seccion-3 {
  background-image: url("images/imagen-fondo-seccion-2.svg");
  position: relative; 
  overflow: hidden; 
  z-index:1;
  width: 1280px;
  height: 1157px;
}

.seccion-3 #parallax{
  margin-top: 420px;
}

.seccion-3 p{
  position: absolute;
  width: 950px;
  height: 153px;
  margin-left: 450px;
  margin-top: 200px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 61.14px;
  line-height: 110%;
  color: #FFFFFF;
  left: calc(20% - 950px/2);
}

.btnDescargar {
  background: #83C252;
  box-shadow: 4px 5px 0px #02187E;
  border-radius: 111px;
  width: 540px;
  height: 66px;
  position: absolute;
  margin-top: 400px;
  margin-left: 450px;
  left: calc(30% - 950px/2);
  color: #FFFFFF;
  border: 8px solid #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 31.14px;
  line-height: 110%;
  position: absolute;
  z-index: 999;
}

.btnDescargar:hover{
  box-shadow: 0px 0px 15px 10px white;
}

#parallax {
  position: absolute;
  width: 1280px; /* Ancho en píxeles, ajusta según el diseño */
  height: 745px; /* Altura en píxeles, ajusta según el diseño */
  background-image: url("images/personajesSeccion2.svg");
  background-repeat: no-repeat;
  background-size: 1300px 800px; /* Tamaño específico del fondo en píxeles */
  z-index: 2;
}

/* INICIO SECCIÓN "MÁS AMIGOS, MÁS DIVERSION!" */
.amigos-diversion-section {
  width: 1280px;
  padding: 174px 100px 0;
}

.amigos-diversion {
  display: flex;
  flex-direction: column;
}

.amigos-diversion-container {
  display: flex;
  flex-direction: row;
  width: 1080px;
}

.amigos-diversion-section h1 {
  font-size: 60px;
  font-weight: 700;
  min-width: 802px;
  color: #000;
}

.amigos-diversion-section h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #000;
}

.amigos-diversion-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
  color: #000;
}

/*
Left
 */
.amigos-diversion-left {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.amigos-diversion-image {
  position: absolute;
  width: auto;
  height: 291px;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.amigos-diversion-image.active {
  opacity: 1;
  transform: scale(1);
}

/*
Right
 */
.amigos-diversion-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  gap: 267px;
  padding: 267px 0;
}

.amigos-diversion-right div {
  width: 467px;
  height: fit-content;
}
/* FIN SECCIÓN "MÁS AMIGOS, MÁS DIVERSIÓN!" */

/* INICIO SECCIÓN VIDEO DE YOUTUBE */
.video-youtube {
  background-image: url("images/fondovideo.svg");
  background-repeat: no-repeat;
  width: 1280px;
  overflow: hidden;
  min-height: 1443.83px;
  position: relative;
  perspective: 1000px;
}

.video-youtube h1 {
  height: 171px;
  width: 802px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 94.5%;
  color: #FFFFFF;

  margin-top: 310px;
  margin-left: 100px;
}

.video {
  margin-left: 100px;
  margin-top: 48px;
  width: 805px;
  height: 456px;
  border: 29px solid #FFFFFF;
  border-radius: 50px;
  overflow: hidden;
  position: relative; 
  z-index: 1;
  will-change: transform;
}

.video-youtube-numero-3 {
  position: absolute; /* Coloca la imagen en relación a la sección video-youtube */
  top: 890px; /* Ajusta verticalmente según sea necesario */
  right: -40px; /* Ajusta horizontalmente según sea necesario */
  transform: translateY(-50%); /* Centra la imagen verticalmente */
  z-index: 6; /* Coloca la imagen por encima del video */
  will-change: transform; /* Mejora la eficiencia del parallax */
  transition: transform 0.2s ease-out; /* Suaviza la transición */
}

.video-youtube-numero-3 img {
  width: 638px; /* Ajusta el tamaño máximo según necesidad */
  height: 989px;
}
/* FIN SECCIÓN VIDEO DE YOUTUBE */

/* INICIO SECCIÓN FIGURA 3D */
.section-3dfigure{
  position:relative;
  height: 900px;
}

.section-3dfigure  h2{
  position: absolute;
  width: 746px;
  height: 285px;
  left: 102px;
  top: 142px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 57px;
  color: #9D2121;
  z-index: 2;
}

.section-3dfigure  p{
  z-index: 2;

  position: absolute;
  width: 467px;
  height: 190px;
  left: 100px;
  top: 482px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
}

#reveal {
  position: absolute;
  width: 667px; /* Cambia el ancho */
  height: 973px; /* Cambia la altura */
  left: 599px;
  margin-bottom: 800px;
  z-index: 1;
}
/* FIN SECCIÓN FIGURA 3D */

/* INICIO SECCIÓN "GRILLA COLORES"*/
.grilla-colores-section {
  height: 729px;
  width: 1280px;

  background-image: url("images/grilla-colores.svg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  overflow: hidden;
}

.grilla-colores-numbers-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 373px;
}

.grilla-colores-numbers-2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 323px;
}

.grilla-colores-section img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grilla-colores-section img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 32px 16px rgba(255, 255, 255, 1);
  cursor: pointer;
}
/* FIN SECCIÓN "GRILLA COLORES"*/

/* INICIO SECCIÓN "PRE FOOTER"*/
.pre-footer-section {
  height: 1570px;
  width: 1280px;
  padding: 190px 100px 0 100px; /* top right bot left */
  background: linear-gradient(to bottom, #FFFFFF, #EDFDFF, #ADF8FD, #E0D299);
  position: relative;
  overflow: hidden;
}

.pre-footer-container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 46px;

  position: absolute;
  z-index: 4;
}

.pre-footer-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}

.pre-footer-container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.pre-footer-section h1 {
  height: 171px;
  width: 816px;
  font-size: 60px;
  font-weight: 700;
  line-height: 94.5%;
  color: #000;
}

#pre-footer-form {
  display: flex;
  flex-direction: row;
}

#pre-footer-form input {
  height: 100px;
  width: 562px;

  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: 2.2px;

  color: rgba(0, 0, 0, 0.39);
  background-color: #ECECEC;

  padding-left: 52px;

  border: 8px solid #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 4px 5px 0 #02187E;
}

#pre-footer-form button {
  height: 100px;
  width: 218px;

  font-size: 20px;
  font-weight: 900;
  line-height: 94.5%;
  letter-spacing: 2.2px;

  color: #FFFFFF;
  background-color: #83C252;

  border-top: 8px solid #FFFFFF;
  border-right: 8px solid #FFFFFF;
  border-bottom: 8px solid #FFFFFF;
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 5px 0 #02187E;
}

.pre-footer-section p {
  height: 95px;
  width: 578px;

  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
  color: #000000;
}

.pre-footer-section span {
  text-decoration: underline;
}

.pre-footer-esrb {
  height: 145px;
  width: 231px;
}

/**  Inicio Nubes **/
.cloud-layer {
  position: absolute;
  background-repeat: repeat-x;
  background-size: cover;
}

.cloud-layer-1 {
  background-image: url("./images/pre-footer-cloud.svg");
  height: 181px;
  width: 387px;
  position: absolute;
  z-index: 1;
}


.cloud-layer-2 {
  background-image: url("./images/pre-footer-cloud.svg");
  height: 124px;
  width: 265px;
  position: absolute;
  z-index: 2;
}

.cloud-layer-3 {
  background-image: url("./images/pre-footer-cloud.svg");
  height: 181px;
  width: 387px;
  position: absolute;
  z-index: 3;
}
/**  Fin Nubes **/

.pre-footer-grass {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 389px;
  width: 1280px;
  z-index: 0; /* Envía el césped al fondo, detrás de otros elementos */
}

.pre-footer-number-2 {
  position: absolute;
  height: 480px;
  width: 480px;
  bottom: 42px;
  left: 65px;
  z-index: 4;
}

.pre-footer-number-3 {
  position: absolute;
  height: 509px;
  width: 509px;
  bottom: 42px;
  left: 407px;
  z-index: 4;
}

.pre-footer-number-7 {
  position: absolute;
  height: 997px;
  width: 561px;
  top: 613px;
  left: 756px;
  z-index: 4;
}

/* FIN SECCIÓN "PRE FOOTER"*/

/* INICIO SECCIÓN "FOOTER" */
.footer-section {
  width: 1280px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-platforms {
  width: 1280px;
  padding: 0 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.footer-platforms img {
  height: 75px;
  width: 1080px;
}

.footer-content {
  width: 1280px;
  padding: 35px 100px;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #5E5E5D;
  gap: 35px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 820px;
  height: 361px;
  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: 2.2px;
  color: #FFFFFF;
  gap: 35px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
}

.footer-description a {
  color: #FFFFFF;
}

.footer-content img {
  width: 212px;
  height: 41px;
}
/* FIN SECCIÓN "FOOTER"*/
