footer {
    width: 100%; /* Asegura que el footer ocupe el ancho completo */
    background-color: #282C34;
    color: #ffffff;
    padding: 50px;
    padding-bottom: 3px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-left: 6%;
    padding: 0 20px; /* Añade algo de espacio horizontal */
    gap: 20px;
  }
  footer {
    display: block;
    width: 100%;
  }
  .footer-column {
    flex: 1; /* Hace que todas las columnas tengan el mismo tamaño */
    min-width: 150px; /* Define un ancho mínimo para evitar que se compriman demasiado */
    text-align: left;/* Alinea el contenido de la columna a la izquierda */
    margin: 0 15px; /* Aumenta el espaciado entre columnas (de 10px a 20px) */
  
  
  }
  .footer-column h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: left;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-column ul li a {
    color: #b0b3b8;
    text-decoration: none;
    font-size: 17px;
  }
  
  .footer-column ul li a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .footer-column {
      width: 100%; /* Las columnas ocuparán el ancho completo en pantallas pequeñas */
      flex: 1 1 100%; /* Colapsar columnas a ancho completo */
      margin-bottom: 10px; /* Espacio entre columnas en móviles */
    }
    .footer {
      text-align: center; /* Alinear el texto del footer al centro */
    }
    .footer-container{
      flex-wrap: wrap;
  
    }
  }
  
  
  
  .copyright{
    padding: 20px 0;
    text-align: center;
    margin-top: 24px; /* Espaciado entre las columnas y el texto */
    font-size: 21px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #ffffff; /* Cambia el color del texto si lo deseas */
    }
  