/* Estilos generales para todas las pantallas */
body {
    background-color: #16181d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;  /* Tamaño de fuente relativo al ancho de la pantalla */
    justify-items: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    min-height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 24fr 6fr;
}

.header, .main, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main {
    display: grid;

}

/* Contenedores */
.header {
    grid-area: header;
    background-color: #282c34;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #282c34;
}

/* Secciones */
.section-title {
    font-family: 'Audiowide', sans-serif;
    font-weight: normal;
    margin-bottom: 0.5vw;
}

/* Asegurarse de que padding y border se incluyan en el tamaño total */
* {
    box-sizing: border-box;
}

/* Featured Games */
.featured-games {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}

/* Featured Game Card */
.featured-card {
    background-color: #434956;
    width: 14vw;
    height: 20vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ocultar cualquier contenido que se salga de la tarjeta */
    margin: 0.3vw;
}

.featured-game-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.featured-game-info {
    background-color: #282C34;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    height: 20%;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.featured-game-title {
    margin: 0; /* Elimina margen */
    width: 100%;
    white-space: nowrap; /* No permitir saltos de línea */
    overflow: hidden; /* Ocultar cualquier texto que desborde el contenedor */
    text-overflow: ellipsis; /* Mostrar '...' al final si hay desbordamiento */
    font-weight: 600; /* Semibold */
}

.game-price {
    margin: 0 0 0 0;
    font-weight: 300; /* Light */
    font-size: 0.9vw;
}

.in-cart-game-price {
    margin: 0 0 0 0;
    font-weight: 300; /* Light */
    font-size: 0.9vw;
    visibility: hidden;
}

.featured-buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 2vw;
    width: 4.25vw;
}

.featured-buy-button i {
    font-size: 1.125vw;
}

/* Carousel */
.carousel {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}

/* Game Card */
.card {
    background-color: #434956;
    width: 13vw;
    height: 9.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ocultar cualquier contenido que se salga de la tarjeta */
    margin: 0.2vw;
}

.game-image {
    width: 100%;
    height: 68%;
    object-fit: cover;
}

.game-info {
    background-color: #282C34;
    padding: 0.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    height: 32%;
}

.game-title {
    margin: 0; /* Elimina margen */
    width: 100%;
    white-space: nowrap; /* No permitir saltos de línea */
    overflow: hidden; /* Ocultar cualquier texto que desborde el contenedor */
    text-overflow: ellipsis; /* Mostrar '...' al final si hay desbordamiento */
    font-weight: 600; /* Semibold */
    font-size: 0.8vw;
}

.buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 1.5vw;
    width: 4.25vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.7vw;
}

.buy-button i {
    font-size: 1vw;
}

.in-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 1.5vw;
    width: 4.25vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.7vw;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007997;
    border: none; /* Sin borde */
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 1.5vw;
    width: 4.25vw;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.7vw;
}
