/* Estilos generales para todas las pantallas */
body {
    background-color: #16181d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;  /* Tamaño de fuente relativo al ancho de la pantalla */
    justify-items: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    min-height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 24fr 6fr;
}

/* Dentro de cada área usamos flexbox */
.header, .main, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main {
    display: grid;

}

/* Contenedores */
.header {
    grid-area: header;
    background-color: #282c34;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #282c34;
}

.section-title {
    font-family: 'Audiowide', sans-serif;
}

.featured-games {
    display: flex;
    flex-direction: row;
}

.featured-card {
    background-color: #434956;
    width: 15vw;
    height: 45vh;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ocultar cualquier contenido que se salga de la tarjeta */
    margin: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.featured-game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-game-info {
    background-color: #282C34;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-title {
    margin: 0; /* Elimina margen */
    font-size: 1.2rem; /* Tamaño del texto del título */
    text-align: center; /* Centrar el texto */

    white-space: nowrap; /* No permitir saltos de línea */
    overflow: hidden; /* Ocultar cualquier texto que desborde el contenedor */
    text-overflow: ellipsis; /* Mostrar '...' al final si hay desbordamiento */
}

.game-price {
    margin: 0 10px 0 0; /* Espaciado entre precio y botón */
    font-size: 1rem; /* Tamaño del texto del precio */
}

.buy-button {
    background-color: #ff4081;
    border: none; /* Sin borde */
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.buy-button:hover {
    background-color: #2980b9; /* Color del botón al pasar el cursor */
}
