/* Estilos de la barra general */
.main-nav{
    background-color: #282c34;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    object-fit: contain; 
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00b8e6;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fas {
    font-size: 20px;
    cursor: pointer;
  }
  

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-center {
    justify-content: center;
}

.nav-right {
    gap: 30px; /* Espacio entre el carrito y la foto del usuario */
  }

/* Estilos para la barra lateral (sidebar) */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Escondido por defecto */
    background-color: #21252b;
    color: white;
    transition: 0.3s;
    padding-top: 0px;
    z-index: 1000;
}

/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto por defecto */
    z-index: 999; /* Debajo de la barra lateral pero encima de otros elementos */
}

/* Mostrar la barra lateral cuando está activa */
.sidebar.active {
    left: 0; /* Muestra la barra lateral */
}

.overlay.active {
    display: block; /* Muestra el overlay cuando la barra está abierta */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid #575757; /* Separadores entre opciones */
}

.sidebar ul li:last-child {
    border-bottom: none; /* El último elemento no tiene separador */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar ul li:hover {
    background-color: #575757;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757; /* Cambia el color de fondo al pasar el mouse */
    transition: 0.3s;
}
